<h1>Add a Drink</h1>
<form ng-submit="drinknewCtrl.addDrink()" id="newDrink">
  <div>
    <label for="newDrink-name">Name:</label>
    <input type="text" id="newDrink-name" ng-model="drinknewCtrl.newDrink.drinkName" placeholder="Boom boom juice">
  </div>
  <div>
    <label for="newDrink-image">Logo:</label>
    <input type="text" id="newDrink-image" ng-model="drinknewCtrl.newDrink.drinkImage">
  </div>
  <div>
    <input type="submit" value="Add Drink">
  </div>
</form>

<!-- Single button -->

  <!-- <ul class="dropdown-menu">
    <li><a ui-sref-active="active" ui-sref="#">Action</a></li>
    <li><a ui-sref-active="active" ui-sref="#">Another action</a></li>
    <li><a ui-sref-active="active" ui-sref="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a ui-sref="#">Separated link</a></li>
  </ul> -->

  <hr>

    <ul>
      <li ng-repeat="drink in drinknewCtrl.all" data-id="{{drinks._id}}">
        <img ng-src="{{drink.drinkImage}}" alt="logo">
        <br>
        <strong>{{drink.drinkName}}</strong>
        <br>
        <button ng-click="drinknewCtrl.destroyDrinks(drink)">DELETE</button>
      </li>
    </ul>
