
<br>
<br>
<br>


<h1>Add a Drink</h1>


  <!-- <div ng-show="self.authService.isLoggedIn()"> -->

      <form class="form-inline" ng-submit="drinknewCtrl.addDrink()" id="newDrink">
        <div class="form-group">
          <label for="newDrink-name">Name: </label>
          <input type="text" id="newDrink-name" ng-model="drinknewCtrl.newDrink.drinkName" placeholder="Boom boom juice">
        </div>
        <div class="form-group">
          <label for="newDrink-image">Logo: </label>
          <input type="text" id="newDrink-image" ng-model="drinknewCtrl.newDrink.drinkImage">
        </div>
        <div class="form-group">
          <input type="submit" value="Add Drink">
        </div>
      </form>

  <!-- </div> -->


  <hr>

    <ul>
      <li ng-repeat="drink in drinknewCtrl.all" data-id="{{drinks._id}}">
          <img ng-src="{{drink.drinkImage}}" alt="logo" height="120px">
        <br>
        <br>
          <strong>{{drink.drinkName}}</strong>
        <br>
        <br>

          <button ng-click="drinknewCtrl.destroyDrinks(drink)" margin-top="20px">DELETE</button>

        <hr>
      </li>

    </ul>
